body {
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#activeusers{
    margin: 10px auto;
    position: relative;
    padding: 12px 10px;
    border: 2px;
    border-radius: 10px;
}
#deletedusers {
    margin: 10px auto;
    position: relative;
    padding: 12px 10px;
    border: 2px;
    border-radius: 10px;
}
#inactiveusers {
    margin: 10px auto;
    position: relative;
    padding: 12px 10px;
    border: 2px;
    border-radius: 10px;
}


